# Intellij
.idea/
*.ids
*.iml
*.ipr
*.iws
*.orig
classes/

# Eclipse
.classpath
.factorypath
.loadpath
.metadata
.project
.settings/
*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
log/
local.properties
.log

# Visual Studio Code
.vscode/

# Java
*.class
*.db
*.ear
*.jar
*.war

# JRebel
rebel.xml

# Maven
!.mvn/wrapper/maven-wrapper.jar
!maven/wrapper/maven-wrapper.jar
maven/
node/
target/
.flattened-pom.xml
*.flattened-pom.xml

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/

# Node.js
node/
node_tmp/
node_modules/
npm-debug.log.*
package-lock.json

# ESLint
.eslintcache

# SASS
.sass-cache/

# SVN
.svn/

# Mac OSX
.DS_Store

# Windows
._*
*.*~
*~
.merge_file*
Desktop.ini
Thumbs.db
logs/

# Others
.buildpath
.cproject
.externalToolBuilders/**
.Spotlight-V100
.Trashes
